@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@300&display=swap');

.titulo {
    font-family: 'Poppins', sans-serif;
    color: #2f8ca3;
		text-transform: capitalize;
}