@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Quicksand:wght@300&display=swap');

.link {
    text-align: center;
    color: 	#fffffe;
}

.link:active, .link:hover{
    color: 	#fffffe;
    text-decoration: underline;
}