@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Quicksand:wght@300&display=swap');

.link {
    font-family: 'Quicksand', sans-serif;
    padding: 3px;
    text-align: center;
    color: 	#f4af2d;
}

.link:active, .link:hover{
    color: 	#f4af2d;
    font-size: larger;
    text-decoration: underline;
}